/* line 7, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../buttons/_dialog_footer_buttons.scss */
#dialog_footer_buttons .footer-button {
    background-color: #76ade4;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #76ade4), color-stop(100%, #4b95f5));
    background-image: -webkit-linear-gradient(#76ade4, #4b95f5);
    background-image: -moz-linear-gradient(#76ade4, #4b95f5);
    background-image: -o-linear-gradient(#76ade4, #4b95f5);
    background-image: linear-gradient(#76ade4, #4b95f5);
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    font-family: Tahoma, Geneva;
    text-shadow: 0 0.083em 0 #829dff;
    text-decoration: none;
    -webkit-border-radius: 0.583em 0.333em;
    -moz-border-radius: 0.583em / 0.333em;
    border-radius: 0.583em / 0.333em;
    border: solid 1px #164f0e;
    padding: 0.500em 0.417em;
    margin: 0;
    outline: 0;
    vertical-align: baseline;
    cursor: pointer;
}

/* line 30, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../buttons/_dialog_footer_buttons.scss */
#dialog_footer_buttons .footer-button:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4b95f5), color-stop(100%, #76ade4));
    background-image: -webkit-linear-gradient(#4b95f5, #76ade4);
    background-image: -moz-linear-gradient(#4b95f5, #76ade4);
    background-image: -o-linear-gradient(#4b95f5, #76ade4);
    background-image: linear-gradient(#4b95f5, #76ade4);
}

/* line 34, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../buttons/_dialog_footer_buttons.scss */
#dialog_footer_buttons #dialog_footer_buttons #contentSubmit {
    text-align: center;
}

/* line 38, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../buttons/_dialog_footer_buttons.scss */
#dialog_footer_buttons #buttons-container {
    padding-top: 0.6em;
    margin: 0.833em auto 0 auto;
    display: inline-block;
    width: 100%;
    text-align: center;
}

/* line 45, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../buttons/_dialog_footer_buttons.scss */
#dialog_footer_buttons #buttons-container .left-grouping {
    float: left;
    margin-left: 0.833em;
}

/* line 49, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../buttons/_dialog_footer_buttons.scss */
#dialog_footer_buttons #buttons-container .right-grouping {
    float: right;
    margin-right: 0.833em;
}

/**
 * Style is overwritten at times from other places. The last selector in this sheet is more specific than
 * the first and it fixes this. This currently only works nicely for the tieredspender dialog box.
 * TODO: refactor work everywhere. AG.css overwrites way too much stuff
 */
/* line 13, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../buttons/_satisfying_button.scss */
.satisfying_button {
    background-color: green;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008000), color-stop(100%, #00d000));
    background-image: -webkit-linear-gradient(#008000, #00d000);
    background-image: -moz-linear-gradient(#008000, #00d000);
    background-image: -o-linear-gradient(#008000, #00d000);
    background-image: linear-gradient(#008000, #00d000);
    color: white;
    font-size: 1.167em;
    font-weight: bold;
    text-align: center;
    font-family: Tahoma, Geneva;
    text-shadow: 0 0.083em 0 black;
    text-decoration: none;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
    border: solid 0.08em #164f0e;
    padding: 0.5em 1.5em;
    outline: 0;
    vertical-align: baseline;
    cursor: pointer;
}

/* line 35, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../buttons/_satisfying_button.scss */
.satisfying_button:hover {
    background-color: green;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00d000), color-stop(100%, #008000));
    background-image: -webkit-linear-gradient(#00d000, #008000);
    background-image: -moz-linear-gradient(#00d000, #008000);
    background-image: -o-linear-gradient(#00d000, #008000);
    background-image: linear-gradient(#00d000, #008000);
}

/* line 40, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../buttons/_satisfying_button.scss */
#redeem_dialog_button.satisfying_button {
    color: white;
    text-shadow: 0.083em 0.083em 0.083em black;
    font-size: 1.8em;
    display: block;
    font-family: Helvetica, Arial;
    width: 65%;
    margin: 10px auto -40px auto;
    text-transform: uppercase;
}

/* line 1, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../dialogs/_tiered_spender.scss */
.dialog_content {
    padding: 5px 8px;
    width: auto;
    font-size: 12px;
    /*setting the base*/
}

/* line 6, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../dialogs/_tiered_spender.scss */
.dialog_content em {
    color: black;
}

/* line 10, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../dialogs/_tiered_spender.scss */
.dialog_content #redeemdialog-featured-items {
    text-align: center;
}

/* line 13, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../dialogs/_tiered_spender.scss */
.dialog_content #redeemdialog-featured-items li {
    display: inline;
    padding-left: 0.417em;
}

/* line 19, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../dialogs/_tiered_spender.scss */
.dialog_content .redeem_dialog_reward_thumbnail {
    float: left;
    margin: 0 0.417em 0.417em 0;
    height: 2.083em;
    width: auto;
}

/* line 26, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../dialogs/_tiered_spender.scss */
.dialog_content h1 {
    font-size: 1.250em;
    margin-bottom: 0.833em;
    font-weight: bold;
    color: #333;
}

/* line 33, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../dialogs/_tiered_spender.scss */
.dialog_content #reward_name {
    margin-top: 1.250em;
    font-size: 1.250em;
}

/* line 38, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../dialogs/_tiered_spender.scss */
.dialog_content #offer_header {
    margin-top: 0.833em;
}

/* line 42, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../dialogs/_tiered_spender.scss */
.dialog_content .featured-item-images {
    width: 4.35em;
    height: auto;
}

/* line 47, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../dialogs/_tiered_spender.scss */
.dialog_content .featured-item-link:link {
    border: none;
    text-decoration: none;
}

/* line 52, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../dialogs/_tiered_spender.scss */
.dialog_content .featured-item-link:hover {
    border: none;
    text-decoration: none;
}

/* line 57, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../dialogs/_tiered_spender.scss */
.dialog_content .centered-subtitle {
    text-align: center;
    font-size: 11px;
}

/* line 50, common/*.png */
.common-sprite, .ap_logo.size20-inline, .ap_logo.size32 {
    background: url('/themes/main/images/common-sa139223129.png') no-repeat;
}

/* line 3, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../logos/_icons.scss */
.ap_logo.size20-inline {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-bottom: -2px;
    background-position: 0 -32px;
}

/**
 * Not currently used...
 */
/* line 15, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../logos/_icons.scss */
.ap_logo.size32 {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

/* line 3, /Users/parris/working/minorTranslationFixes/static/css/sass/pages/portal/../../tooltips/_rounded_black.scss */
.tip-wrap {
    z-index: 999999999999999;
    background: black;
    color: white;
    padding: .6em;
    font-size: .9em;
    font-family: Helvetica, Arial;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
}