
.menu{
    border-bottom: 3px solid #d6991f;
    height:30px;
    list-style-type: none !important;
}
.menu .leaf{
    padding: 6px;
    float: left;
    margin-left:10px;
    list-style-type: none !important;
    background: #291f13;
}